.b-headContainerBlock {
    display: flex;
    justify-content: space-between;
    background-color: $mainColor;
    padding: 10px 100px;
    margin-bottom: 10px;
    &__text {
        
    }
    &__nav {
        display: flex;
        align-items: center;
    }
}

.b-catalogContainerBlock {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    &__item {
        display: flex;
        flex-direction: column;
        background-color: $mainColor;
        width: 300px;
        &_margin {
            margin: 10px;
        }
    }
    &__img {
        height: auto;
    }

    &__h3 {
        max-width: 360px;
    }

    &__text {
        max-width: 360px;
    }

    &__cost {

    }
}