@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

$mainColor: #f4f2f3;

%nav-header {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50px);
    grid-template-rows: 50px;
    place-items: center;
    gap: 5px;
    margin: 5px;
}

body {
    margin: 0;
}

header {
    background-color: black;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 60px;
}

.left-header, .right-header {
    @extend %nav-header;
}

.left-header :nth-child(1) {
    grid-column-start: 3;
    @media (max-width: 768px) {
        grid-column-start: 2;
    }
}

.right-header :nth-child(1) {
    grid-column-start: -5;
    @media (max-width: 768px) {
        grid-column-start: -4;
    }
}

img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.logo{
    height: 30px;
}

.search, .cart, .user {
    height: 20px;
}

.bars {
    height: 17px;
}

.container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 100%;
    background-color: $mainColor;
}

#main-img {
    width: auto;
}

.left-main {
    display: grid;
    place-items: center;
}

.right-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    h1 {
        margin: 5px;
    }
}

p {
    margin: 5px;
}

.brand-text-title {
    font-size: 50px;
}

.brand-text-secondary {
    font-size: 25px;
}

.man {
    grid-area: man;
}

.woman {
    grid-area: woman;
}

.kids {
    grid-area: kids;
}

.accesories {
    grid-area: accesories;
    &:first-child {
        height: auto;
    }
}

.container-other {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-template-areas: 
    "man woman kids"
    "accesories accesories accesories"
    ;
    gap: 20px;
    margin: 20px 150px 20px 150px;

    @media (max-width: 768px) {
        margin: 10px;
        gap: 10px;
    }
    >div {
        position: relative;
        overflow: hidden;
    }

    .overlay {
        position: absolute; /* Абсолютное позиционирование поверх изображения */
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        display: flex; /* Flexbox для центрирования текста */
        justify-content: center; /* Центрирование по горизонтали */
        align-items: center; /* Центрирование по вертикали */
        
        .text {
            color: white;
        }
    }
}

.container-fetured {
    margin: 50px 150px 50px 150px;
    .fetured-text {
        display: grid;
        justify-content: center;
        h2 {
            @extend .fetured-text;
            margin: 5px;
        }
        p {
            margin: 0;
        }
        margin-bottom: 30px;
    }
    .fetured-items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
        .fetured-item {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(4, auto);
            background-color: $mainColor;
            gap: 15px;
            h3 {
                margin: 0 0 0 15px;
            }
            p {
                margin: 0 0 0 15px;
                &.cost {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .all-product {
        margin: 15px;
        display: grid;
        justify-content: center;
        .all-button {
            padding: 10px 30px;
            border: 2px solid $mainColor;
            background-color: transparent;
            color: black;
            font-size: 16px;
            text-align: center;
            cursor: pointer;  /* Курсор в виде руки при наведении */
            transition: background-color 0.3s ease, color 0.3s ease;  /* Плавный переход для фона и цвета текста */
            &:hover {
                background-color: $mainColor;
            }
        }
    }
    
    @media (max-width: 768px) {
        margin: 10px;
        gap: 10px;
    }
}