@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
.b-headContainerBlock {
  display: flex;
  justify-content: space-between;
  background-color: #f4f2f3;
  padding: 10px 100px;
  margin-bottom: 10px;
}
.b-headContainerBlock__nav {
  display: flex;
  align-items: center;
}

.b-catalogContainerBlock {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.b-catalogContainerBlock__item {
  display: flex;
  flex-direction: column;
  background-color: #f4f2f3;
  width: 300px;
}
.b-catalogContainerBlock__item_margin {
  margin: 10px;
}
.b-catalogContainerBlock__img {
  height: auto;
}

.left-header, .right-header {
  display: grid;
  grid-template-columns: repeat(auto-fill, 50px);
  grid-template-rows: 50px;
  place-items: center;
  gap: 5px;
  margin: 5px;
}

body {
  margin: 0;
}

header {
  background-color: rgba(0, 0, 0, 0.8);
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 60px;
}

.left-header :nth-child(1) {
  grid-column-start: 3;
}
@media (max-width: 768px) {
  .left-header :nth-child(1) {
    grid-column-start: 2;
  }
}

.right-header :nth-child(1) {
  grid-column-start: -5;
}
@media (max-width: 768px) {
  .right-header :nth-child(1) {
    grid-column-start: -4;
  }
}

img {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.logo {
  height: 30px;
}

.search, .cart, .user {
  height: 20px;
}

.bars {
  height: 17px;
}

.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 100%;
  background-color: #f4f2f3;
}

#main-img {
  width: auto;
}

.left-main {
  display: grid;
  place-items: center;
}

.right-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.right-main h1 {
  margin: 5px;
}

p {
  margin: 5px;
}

.brand-text-title {
  font-size: 50px;
}

.brand-text-secondary {
  font-size: 25px;
}

.man {
  grid-area: man;
}

.woman {
  grid-area: woman;
}

.kids {
  grid-area: kids;
}

.accesories {
  grid-area: accesories;
}
.accesories:first-child {
  height: auto;
}

.container-other {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  grid-template-areas: "man woman kids" "accesories accesories accesories";
  gap: 20px;
  margin: 20px 150px 20px 150px;
}
@media (max-width: 768px) {
  .container-other {
    margin: 10px;
    gap: 10px;
  }
}
.container-other > div {
  position: relative;
  overflow: hidden;
}
.container-other .overlay {
  position: absolute; /* Абсолютное позиционирование поверх изображения */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex; /* Flexbox для центрирования текста */
  justify-content: center; /* Центрирование по горизонтали */
  align-items: center; /* Центрирование по вертикали */
}
.container-other .overlay .text {
  color: white;
}

.container-fetured {
  margin: 50px 150px 50px 150px;
}
.container-fetured .fetured-text, .container-fetured .fetured-text h2 {
  display: grid;
  justify-content: center;
  margin-bottom: 30px;
}
.container-fetured .fetured-text h2 {
  margin: 5px;
}
.container-fetured .fetured-text p {
  margin: 0;
}
.container-fetured .fetured-items {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}
.container-fetured .fetured-items .fetured-item {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(4, auto);
  background-color: #f4f2f3;
  gap: 15px;
}
.container-fetured .fetured-items .fetured-item h3 {
  margin: 0 0 0 15px;
}
.container-fetured .fetured-items .fetured-item p {
  margin: 0 0 0 15px;
}
.container-fetured .fetured-items .fetured-item p.cost {
  margin-bottom: 15px;
}
.container-fetured .all-product {
  margin: 15px;
  display: grid;
  justify-content: center;
}
.container-fetured .all-product .all-button {
  padding: 10px 30px;
  border: 2px solid #f4f2f3;
  background-color: transparent;
  color: black;
  font-size: 16px;
  text-align: center;
  cursor: pointer; /* Курсор в виде руки при наведении */
  transition: background-color 0.3s ease, color 0.3s ease; /* Плавный переход для фона и цвета текста */
}
.container-fetured .all-product .all-button:hover {
  background-color: #f4f2f3;
}
@media (max-width: 768px) {
  .container-fetured {
    margin: 10px;
    gap: 10px;
  }
}

.container-advantages {
  margin: 0px;
  height: 250px;
  background-color: rgba(0, 0, 0, 0.8);
}
.container-advantages .advantages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  height: 100%;
  margin: 0 100px 0 100px;
}
.container-advantages .advantages .advantage {
  display: grid;
  justify-items: center;
  align-content: center;
  height: 100%;
}
.container-advantages .advantages .advantage img {
  width: auto;
  height: auto;
}
.container-advantages .advantages .advantage h4 {
  color: white;
}
.container-advantages .advantages .advantage p {
  color: white;
  text-align: center;
}

.container-info {
  margin: 0px;
  height: 350px;
  background: url(/images/info/subscribe.jpg) no-repeat;
  background-size: cover;
}
.container-info .info {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.container-info .info .about-me {
  display: grid;
  justify-items: center;
  align-content: center;
}
.container-info .info .about-me img {
  margin: 20px;
  height: auto;
  width: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
.container-info .info .subscribe {
  display: grid;
  justify-items: center;
  align-content: center;
}
.container-info .info .subscribe h2 {
  margin: 0;
}
.container-info .info .subscribe p {
  margin-bottom: 20px;
}
.container-info .info .subscribe .subscribe-container {
  display: flex;
  align-items: center;
  width: 400px;
  border-radius: 50px;
  overflow: hidden; /* Для округления краёв внутри контейнера */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin: 10px;
}
.container-info .info .subscribe .email-input {
  flex: 1;
  padding: 15px 20px;
  border: none;
  outline: none;
  font-size: 16px;
  border-radius: 50px 0 0 50px; /* Закругление с левой стороны */
  background-color: #f0f0f0;
}
.container-info .info .subscribe .subscribe-button {
  padding: 15px 30px;
  border: none;
  background-color: white;
  color: rgba(0, 0, 0, 0.8);
  font-size: 16px;
  cursor: pointer;
  border-radius: 0 50px 50px 0; /* Закругление с правой стороны */
  transition: background-color 0.3s ease;
}
.container-info .info .subscribe .subscribe-button:hover {
  background-color: #f4f2f3;
}

footer {
  margin: 0px;
  height: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  padding: 20px 20px 20px 50px;
}
footer .footer-text {
  color: white;
}

.catalogContainer {
  padding: 0 100px;
}/*# sourceMappingURL=main.css.map */